@model CriadorCaes.Models.Animais

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do @Model.Nome</h1>

<div>
    <h4>Animais</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumLOP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumLOP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criadores)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" 
            asp-controller="Criadores" 
            asp-route-id="@Model?.Criadores.Id">
                @Html.DisplayFor(model => model.Criadores.Nome)
            </a>
            
        </dd>
    </dl>
    <h1>Fotografias @Model.Nome</h1>
    @foreach (var foto in Model.ListaFotografias)
    {
        <p>
            @foto.NomeFicheiro
        </p>
        <img src="~/imagens/@foto.NomeFicheiro" alt="Fotografia do @Model.Nome" title="@Model.Nome no @foto.Local no @foto.Data" width="100px"  />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Regressar</a>
</div>
